/* Adapted from https://macwright.org/projects/ */

/* Sizes, fonts, texts style, colors */
body {
  color: rgba(0,0,0,.9);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif
}

/* Titles */
h1 {
  font-size: 2.25rem
}
h1,h2 {
  margin-bottom:.5rem;
  line-height: 1.25
}
h2 {
  font-size: 1.5rem
}
h3 {
  font-size: 1.25rem
}
h3,h4 {
  margin-bottom:.5rem;
  line-height: 1.25
}
h4 {
  font-size: 1rem
}
h5 {
  margin-bottom:.5rem;
  line-height: 1.25;
  font-size:.875rem
}

/* Lists */
ol,ul {
  margin: 1rem 0
}
ul ul {
  margin: 0
}
ol li ul {
  margin: 5px 10px
}
.big-list {
  list-style-type: none;
  margin: 0;
  padding: 0
}
.big-list,p {
  margin: 1rem 0;
  font-size: 1rem
}

/* Card component */
.card, .card a {
  text-decoration: none;
  color: #666;
  padding-bottom: 1rem;
}

a.card:hover, .card a:hover {
  color: #111;
}

.card img {
  display: block;
  margin-bottom: 0.5rem;
}

.highlighted.card {
  border: 1px solid #111;
  text-align: center;
}

.highlighted.card h1 {
  font-size: 1.5rem;
}

/* Layout, margins and paddings */
body {
  margin: 80px auto;
}

/* Images */
.body img {
  width: 100%;
  max-width: 640px
}

.pad2y {
  padding-top: 20px;
  padding-bottom: 20px
}

.cards .limiter {
  max-width: 1200px;
  padding: 0 40px;
}
.card-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.limiter {
  max-width: 640px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto
}
@media screen and (max-width: 640px) {
  .limiter {
    width: auto;
    padding: 0 20px
  }
}

@media screen and (max-width: 1024px) {
  .cards .limiter {
    padding: 0 20px;
  }
  .card-box {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
@media screen and (max-width: 800px) {
  .card-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .card-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
