{{ range $card := .Params.Cards }}
{{ $original := $.Page.Resources.GetMatch (printf "%s*" ( $card.imgname )) }}
{{ if $original }}
  {{ $image := $original.Fill "300x200" }}
  {{ $.Scratch.Set "imgurl" $image.RelPermalink }}
{{ else }}
  {{ $.Scratch.Set "imgurl" "/images/nothing.png" }}
{{ end }}
<a href='{{ $card.url }}' class="card" target="_blank">
  <img src='{{ $.Scratch.Get "imgurl" }}' alt="{{ $card.title }}" />
  <strong>{{ $card.title }}</strong> <span class="sep">|</span> <span>{{ $card.description }}</span>
</a>
{{ end }}
