{{ if .Params.personCard }}

{{ $card := .Params.personCard }}

{{ $original := .Resources.GetMatch (printf "%s*" ( $card.imgname )) }}
{{ if $original }}
  {{ $image := $original.Fill "300x200" }}
  {{ $.Scratch.Set "imgurl" $image.RelPermalink }}
{{ else }}
  {{ $.Scratch.Set "imgurl" "/images/nobody.png" }}
{{ end }}
<span href='#' class='card highlighted'>
  <img src='{{ $.Scratch.Get "imgurl" }}' alt="{{ $card.title }}" />
  <div class='title'>
    <a href="{{$.Permalink}}"><h1>{{ $card.name }}</h1></a>
    {{ range $s := $card.social }}
      <a class="social" href="{{ $s.url }}"><i class="fa {{ $s.icon}}"></i></a>
    {{ end }}
    <div>{{ $card.description }}</div>
  </div>
</span>

{{ end }}
