{{ if .Params.personCard }}

{{ $card := .Params.personCard }}

{{ $original := .Resources.GetMatch (printf "%s*" ( $card.imgname )) }}
{{ if $original }}
  {{ $image := $original.Fill "300x200" }}
  {{ $.Scratch.Set "imgurl" $image.RelPermalink }}
{{ else }}
  {{ $.Scratch.Set "imgurl" "/images/nobody.svg" }}
{{ end }}
<div href='#' class='card highlighted'>
  <a href="{{$.Permalink}}"><img src='{{ $.Scratch.Get "imgurl" }}' alt="{{ $card.title }}" /></a>
  <div class='title'>
    <a href="{{$.Permalink}}"><h1>{{ $card.name }}</h1></a>
    <div>{{ $card.short }}</div>
    {{ range $s := $card.social }}
      <a class="social" href="{{ $s.url }}"><i class="fa {{ $s.icon}}"></i></a>
    {{ end }}
    <div>{{ $card.location }}</div>
  </div>

</div>


{{ end }}
